@model int
@{
    ViewBag.Title = "Interact";
}

<div>
    <h2>Interact</h2>
    <button id="refresh" style="float: right; margin: 10px 0px">Refresh</button>
</div>

<div id="vmConsole" data-virtual-machine-id="@Model">
    <textarea id="vmConsoleArea" cols="80" rows="24"></textarea>
    <div id="vmConsoleDisplay"></div>
</div>
