@model int
@{
    ViewBag.Title = "Interact";
}

@section scripts
{
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    @Scripts.Render("~/vmconsole")
}

<h2>Interact</h2>

<div id="vmConsole" data-virtual-machine-id="@Model">
    <textarea id="vmConsoleArea" cols="80" rows="24"></textarea>
    <div id="vmConsoleDisplay"></div>
</div>

<div style="float: right">
    <button id="refresh">Refresh</button>
    @using (Html.BeginForm("Shutdown", "VirtualMachine", FormMethod.Post, new { style = "display: inline; margin: 0 10px" } ))
    {
        @Html.Hidden("id", Model)
        <button type="submit">Shutdown</button>
    }
</div>
