@using ErlangVMA.VmController


@model IEnumerable<VirtualMachine>

<ul>
    @foreach (var vm in Model)
    {
        <li>
            @Html.ActionLink(vm.Name ?? "", "Interact", new { id = vm.Id }) started on @vm.StartedOn on node @vm.NodeAddress@(!vm.IsActive ? " not active" : "")
        </li>
    }
</ul>