<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.serviceModel" type="System.ServiceModel.Configuration.ServiceModelSectionGroup, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="services" type="System.ServiceModel.Configuration.ServicesSection, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="bindings" type="System.ServiceModel.Configuration.BindingsSection, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="behaviors" type="System.ServiceModel.Configuration.BehaviorsSection, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>

	<system.web>
		<customErrors mode="Off" />
	</system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="test">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" httpGetUrl="http://192.168.122.1:8080/VirtualVmNodeManager.svc" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

        <bindings>
            <netTcpBinding>
                <binding maxConnections="1024" listenBacklog="64">
                    <security mode="None" />
                </binding>
            </netTcpBinding>

            <basicHttpBinding>
            	<binding>
            		<readerQuotas maxArrayLength="10240000" maxStringContentLength="10240000" />
            	</binding>
            </basicHttpBinding>
        </bindings>

		<services>
			<service name="ErlangVMA.VmNodeServices.VirtualVmNodeService" behaviorConfiguration="test">
				<endpoint address="net.tcp://192.168.122.1:3421/VirtualVmNodeManager.svc" binding="netTcpBinding" contract="ErlangVMA.VmController.IVmNodeManagerService" />
				<endpoint address="http://192.168.122.1:3422/VirtualVmNodeManager.svc" binding="basicHttpBinding" contract="ErlangVMA.VmController.IVmNodeManagerService" />
				<endpoint address="http://192.168.122.1:8080/VirtualVmNodeManager.svc/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
