@{
    ViewBag.Title = "Home";
}

<p>
    Welcome to <i>webterm</i>! This site aims to provide remote access and control of Erlang virtual machines.
    All interaction with running Erlang nodes is possible entirely from your web browser.
</p>