@{
    ViewBag.Title = "Home";
}

<div>
    <button id="refresh" style="float: right; margin: 10px 0px">Refresh</button>
</div>
<div id="vmConsole" style="width: 100%">
    <textarea id="vmConsoleArea" rows="25" cols="80"></textarea>
    <div id="vmConsoleDisplay"></div>
</div>